<div>
    <a href="#">Raw<img class="lsw-api-toggle"/></a>

    <div style="display: none;" class="lsw-api-content">
        {{ data }}
    </div>
</div>

<div>
    <a href="#">Parsed<img class="lsw-api-toggle"/></a>

    <div style="display: none;" class="lsw-api-content">
        {{ object }}
    </div>
</div>
